<a href="https://colab.research.google.com/github/Curry-codes/Python/blob/main/29_06_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
li=["test", 1,2,3]
for i in li :
 print(i)

test
1
2
3

In [ ]:
for i in range(1 , 11):
 print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range (0, 11,2):
 print (i)

0
2
4
6
8
10

In [ ]:
for i in range (0, 101,5):
 print (i)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [ ]:
i=0
while i in range(0, 11):
 print(i)
 i=i+1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
city=["A", "B", "C"]
for i in city:
  print("I love", i)

I love A
I love B
I love C

In [ ]:
city=["Pune", "Mumbai"]
for i in range(len(city)) :
 print("I love", city[i])

I love Pune
I love Mumbai

In [ ]:
for i in range(10) :
 print (i)
else :
 print("Loop ended")

0
1
2
3
4
5
6
7
8
9
Loop ended

In [ ]:
for i in range(10) :
 print(i)
 if (i==8) :
  break
 else:
  print("Ended")

0
Ended
1
Ended
2
Ended
3
Ended
4
Ended
5
Ended
6
Ended
7
Ended
8

In [ ]:
counter=0
while counter<3 :
  print("while loop no", counter)
  counter= counter+1
else :
  print ("while loop ended")

while loop no 0
while loop no 1
while loop no 2
while loop ended

In [ ]:
a=int(input("Enter No:"))
for i in range(1,11):
  print(a, "x", i, "=", a*i)

Enter No:9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [ ]:
a=int(input("Enter No:"))
i=0
while i<10 :
 i=i+1
 print(a, "x", i, "=", a*i)

Enter No:9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [ ]:
a=int(input("Enter No:"))
while i in range(1,11):
 print(a, "x", i, "=", a*i)
 i=i+1

Enter No:7

In [ ]:
a=int(input("Enter No:"))
if a>10:
 print("Re-enter no between 1 to 10")
else:
 i=0
 while i in range (0,11) :
  print(a, "x", i, "=", a*i)
  i=i+1

Enter No:80
Re-enter no between 1 to 10